body {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	border: 1px solid #cccccc;
}

.main-container {
	text-align: center;
	background-image: url('https://images.pexels.com/photos/708587/pexels-photo-708587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	color: white;
	background-size: cover;
	width: 100%;
	margin: auto;
	border: 1px solid black;
	padding-bottom: 20px;

	h1 {
		background: linear-gradient(
			90deg,
			#008c45 30%,
			#f4f5f0 36%,
			#f4f5f0 64%,
			#cd212a 70%
		);
		border: 1px solid #cccccc;
		color: black;

		padding-top: 5px;
		padding-bottom: 5px;
	}

	footer {
		font-size: 20px;
		background-color: whitesmoke;
		width: 33%;
		color: black;
		margin: auto;
		border-radius: 40px;
	}
}

.top-container {
	color: black;
	margin-top: 40px;
	width: 50%;
	background-color: whitesmoke;
	border: 1px solid #cccccc;
	margin-bottom: 40px;
	border-radius: 40px;
}
.form-container {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	button {
		margin-bottom: 40px;
		width: 20%;
		font-size: 24px;
	}
}

.address-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;

	.sub-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;

		input {
			border: 1px solid #cccccc;
		}
	}
}

.products-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	background-color: whitesmoke;
	border: 1px solid #cccccc;
	border-radius: 40px;
	margin-bottom: 40px;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 30%;
		margin: auto;
		margin-bottom: 25px;
		margin-top: 25px;
	}
}

table {
	width: 40%;
	margin: auto;
	font-size: 24px;
}

.email-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;

	input {
		width: 50%;
		margin: auto;
		border: 1px solid #cccccc;
	}
}

.express {
	font-size: 24px;
}
