body {
	background: #f7f7f9;
	color: black;
}

.main-container {
	text-align: center;
	padding-top: 20px;
	background: white;

	h1 {
		background: linear-gradient(
			90deg,
			#008c45 30%,
			#f4f5f0 36%,
			#f4f5f0 64%,
			#cd212a 70%
		);
		color: black;

		padding-top: 5px;
		padding-bottom: 5px;
	}
}
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.address-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;

	.sub-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 55%;
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.products-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 30%;
		margin: auto;
		margin-bottom: 25px;
		margin-top: 25px;
	}
}

table {
	width: 40%;
	margin: auto;
	font-size: 24px;
}

.email-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;

	input {
		width: 50%;
		margin: auto;
	}
}

.express {
	font-size: 24px;
}
